<h1><%= @project.name %></h1>
<p><%= link_to("Edit Project", edit_project_path) %> | <%= link_to("Delete", project_path(@project), method: :delete) %></p>
<p><%= @project.description %></p>

<table class="info-table">
    <thead>
        <tr>
            <td>
                Components
            </td>
        </tr>
        <tr>
            <td colspan="2">
                The different pieces that make up your project.
            </td>
        </tr>
    </thead>
    <tbody>
        <% @components.each do |component| %>
        <tr>
            <td>
                <%= component.name %> <span class="edit-span"><%= link_to("Edit Component", edit_project_component_path(@project, component)) %></span>
            </td>
        </tr>
        <% end %>
        <tr>
            <td>
                <%= link_to("Add Component", new_project_component_path(@project)) %>
            </td>
        </tr>
    </tbody>
</table>

<table class="info-table">
    <thead>
        <tr>
            <td>
                Attributes
            </td>
        </tr>
        <tr colspan="2">
            <td>
                The adjectives you would use to describe your project in its ideal state.
            </td>
        </tr>
    </thead>
    <tbody>
        <% @attribs.each do |attribute| %>
        <tr>
            <td>
                <%= attribute.name %> <span class="edit-span"><%= link_to("Edit Attribute", edit_project_attrib_path(@project, attribute)) %></span>
            </td>
        </tr>
        <% end %>
        <tr>
            <td>
                <%= link_to("Add Attribute", new_project_attrib_path(@project)) %>  
            </td>
        </tr>
    </tbody>
</table>


        
<h3>Capabilites</h3>
<p>The test to make sure your attributes describe your components</p>  
<p><%= link_to("Add Capability", new_capability_path(:id => @project.id)) %></p>
<table id="projects">
    <thead>
        <tr>
            <td>Attribute</td>
            <td>Component</td>
            <td>Description</td>
            <td>Passing?</td>
            <td></td>
        </tr>
    </thead>
    <tbody>
        <% @capabilities.each do |capability| %>
        <tr>
            <td><%= capability.attrib.name %></td>
            <td><%= capability.component.name %></td>
            <td><%= capability.description %></td>
            <td><%= capability.passing %></td>
            <td><%= link_to("Edit", edit_capability_path(:id => capability.id)) %></td>
        </tr>
        <% end %>
    </tbody>
</table>

<br>
<br>


<table class="info-table">
    <thead>
        <tr>
            <td></td>
            <% @attribs.each do |attribute| %>
                <td><%= attribute.name %></td>
            <% end %>
        </tr>
    </thead>
    <tbody>
        <% @components.each do |component| %>
            <tr>
                <td><%= component.name %></td>
                <% @attribs.each do |attribute| %>
                    <td class="intersection">
                        <% @capabilities.each do |cap| %>
                            <% if cap.attrib_id == attribute.id && cap.component_id == component.id%>
                                <p class="results"><%= cap.passing %></p>
                            <% end %>
                        <% end %>
                    </td>
                <% end %>
            </tr>
        <% end %>
    </tbody>
</table>