<h1><%= @project.name %></h1>
<p><%= @project.description %></p>

<h2>Attributes</h2>
<ul>
    <% @attribs.each do |attribute| %>
    <li><%= attribute.name %></li><span><%= link_to("Edit Attribute", edit_project_attrib_path(@project, attribute)) %></span>
    <% end %>
</ul>
<p><%= link_to("Add Attribute", new_project_attrib_path(@project)) %></p>
<p><%= link_to("Edit", edit_project_path) %></p>
<p><%= link_to("Delete", project_path(@project), method: :delete) %></p>